.question-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}  
.single-card {
  width: 300px;
  min-height: 200px;
  margin-bottom: 40px;
  padding: 10px;
  text-align: left;
  background-color: white;
  display: flex; 
  flex-direction: column; 
}

.question{
  color: #337ab7;
  font-family: 'Bubblegum Sans', cursive;
}

.answer{
  font-size: 14px;
  flex: 1; 
}  
.card-action{
  background-color: inherit;
  border-top: 1px solid rgba(160,160,160,0.2);
  
}

.card-link-item{
 margin-top: 8px !important;
}
  
.card-action a{
  margin-right: 24px;
}