html,
body{
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

section{
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
 }

 .bubble-gum-font{
  font-family: 'Bubblegum Sans', cursive;
}

.grey-border-shadow{
  border-style: solid !important;
  border-color: rgba(51, 122, 183, 0.10) !important;
  border-width: thin !important;
  border-radius: 5px !important;
  box-shadow: 0 12px 12px 0 #D3D3D3 !important;
  box-sizing: border-box !important; 
}